.containerCarousel {
  img {
    width: 100% !important;
    max-height: 450px;
    object-fit: cover;
  }
}

#hrCC {
  border-color: $blueColor;
}
#hrDC {
  border-color: $primaryColorRed;
}

.buttonResponsive {
  width: fit-content;
}

.carouselSlide {
  background-color: rgb(0, 0, 0);
  height: 100%;
}
.mantine-Carousel-indicator {
  background-color: $primaryColorSemiWhite;
}

// .mantine-Carousel-control {
//   background-color: aqua;
// }

.cci,
.cct {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include desktop-xl {
      width: 75%;
      height: 75%;
    }
  }
}

.gapBar {
  @include desktop-xl {
    gap: 0;
  }
}

.mantine-Modal-close {
  visibility: visible;
  color: black !important;
}

.modalCloseDashboard {
  .mantine-Modal-close {
    visibility: visible;
    background-color: $primaryColorRed;
  }
  .mantine-Modal-header {
    display: flex;
  }
}

.awardImg {
  width: 50px;
}

.titleGraphCarousel {
  &::after {
    content: "";
    height: 2px;
    background-color: $primaryColorRed;
    width: 100%;
    display: flex;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.titleGraphCarouselSelected {
  color: $primaryColorRed;
  &::after {
    content: "";
    height: 2px;
    background-color: $primaryColorRed;
    width: 100%;
    display: flex;
  }
}

.bannersImg {
  width: 100%;
}
.menu_Mobile .itemLayout p {
  color: #fff;
}
.menu_Mobile .itemLayoutSelect p {
  color: #fff;
}

.menu_Mobile .itemLayoutSelect {
  width: 100%;
  border: 1px solid #fff;
}

.mantine-1v23321 {
  display: flex;
  justify-content: center;
}

.modalChangePassword {
  .mantine-Modal-close {
    display: none;
  }
}

.targetDashboard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.radial-progress {
  background-color: #f2f2f2;

  --thickness: 0.7rem;

  @media (min-width: 1024px) {
    --size: 5.5rem;
  }
  @media (min-width: 1280px) {
    --size: 8rem;
  }
}

.radialMeta {
  @media (min-width: 1024px) {
    --size: 7rem;
  }
  @media (min-width: 1280px) {
    --size: 10rem;
  }
}
