@import "../Base/mixins";

@font-face {
  font-family: "Reenie Beanie";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/reeniebeanie/v16/z7NSdR76eDkaJKZJFkkjuvWxXPq1qw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.mainIndex {
  background-image: url(../../public/assets/login/bbapc.png);
  background-repeat: round;
  max-width: 100%;

  /* Pantalla móvil */
  @media (max-width: 767px) {
    background-size: cover !important;
    background-repeat: inherit !important;
  }

  @include desktop-xl {
    .input {
      height: 2.2rem;
    }

    .btn {
      height: 2.2rem;
      min-height: 2.2rem;
    }

    .containerLogin {
      width: 80%;

      @media (max-width: 767px) {
        width: 100%;
      }

      .containerCard {
        width: 60%;

        @media (max-width: 767px) {
          width: 90%;
        }
      }

      #cardLogin {
        width: 100%;
      }

      .internalCard {
        padding: 1rem 2rem 1rem 2rem;
      }
    }

    #apcLogo {
      width: 80%;

      .logoAPC {
        @include desktop-xl {
          width: 80%;
        }

        @media (max-width: 767px) {
          width: 150px;
        }
      }
    }
  }
}

.adobeCo {
  top: 0;
  left: 0;

  img {
    max-width: 200px;
    width: 100%;
    z-index: 10 !important;
  }

  /* Pantalla de escritorio con resolución de 1920px o superior*/
  @media (min-width: 1921px) {
    top: 130px;
    left: 100px;
    background-color: aqua;
  }

  /* Pantalla de escritorio con resolución de 1600px o superior*/
  @media (min-width: 1681px) and (max-width: 1920px) {
    top: 130px;
    left: 80px;
  }

  /* Pantalla de escritorio con resolución de 1536px o superior */
  @media (min-width: 1537px) and (max-width: 1680px) {
    top: 180px;
    left: 50px;
  }

  /* Pantalla de escritorio con resolución de 1440px o superior */
  @media (min-width: 1441px) and (max-width: 1536px) {
    top: 10px;
    left: 30px;
  }

  /* Pantalla de escritorio con resolución de 1366px o superior */
  @media (min-width: 1367px) and (max-width: 1440px) {
    top: 60px;
    left: 20px;
  }

  /* Pantalla de tablet */
  @media (min-width: 1025px) and (max-width: 1280px) {
    top: 20px;
    left: -20px;
  }

  /* Pantalla de tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    top: 20px;
    left: -120px;
  }

  /* Pantalla móvil */
  @media (max-width: 767px) {
    top: -10px;
  }
}

.mantine-Modal-header {
  display: none;
}

.inputSign {
  font-family: "Reenie Beanie", cursive;

  @media (max-width: 767px) {
    font-size: 28px !important;
    width: 100%;
    height: 80px;
  }
}

div#modalterminos .mantine-Modal-modal {
  width: 40%;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.register {
  width: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation-name: registerAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .registerForm {
    opacity: 0;
    animation-name: appear;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
