@import "../Base/mixins";

.containerGlobal {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: $primaryColorWhite;
  .globalContent {
    display: flex;
    background-color: $primaryColorWhite;
    width: 100%;
    height: 100%;
    /* Pantalla móvil */
    @media (max-width: 767px) {
      width: 100%;
      justify-content: center;
    }

    .containerLayout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: var(--wmenu);
      min-width: var(--wminmenu);
      background-color: $primaryColorSemiWhite;
      box-shadow: 0px 0px 10px -11px #f5f5f5;
      height: 100vh;
      position: sticky;
      top: 0px;
      z-index: 3;
      /* Pantalla móvil */
      @media (max-width: 767px) {
        display: none;
      }

      @include desktop-xl {
        font-size: 12px;
        gap: 15px;
      }

      .containerRedirections {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 580px;
        // overflow-y: scroll;

        .containerItemLayout {
          .itemLayout {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 12px;
            height: 34px;
            cursor: pointer;
            border-radius: 50px;
            padding: 8px;
            color: #000000;

            p {
              text-align: left;
              text-shadow: 0px 0px 1px $primaryColorWhite;
              font-size: 13px;
              z-index: 2;
            }

            &:hover {
              transition: all;
              transition-duration: 0.2s;
              background-color: #ffeeed;

              p {
                font-weight: bold;
                color: $primaryColorRed;
              }

              svg {
                stroke: $primaryColorRed;
                fill: transparent;
                stroke-width: 1;
              }
            }
          }

          .itemLayoutSelect {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 12px;
            height: 34px;
            cursor: pointer;
            background-color: #ffc8c5;
            border-radius: 50px;
            padding: 8px;
            color: $primaryColorWhite;
            font-weight: bold;

            p {
              text-align: left;
              font-weight: bold;
              font-size: 13px;
              color: $primaryColorRed;
            }

            svg {
              stroke: $primaryColorRed;
              fill: transparent;
              stroke-width: 1;
            }
          }

          svg {
            stroke-width: 1;
            stroke: #000;
            fill: transparent;
            min-width: 18px;
            width: var(--wicons);
            height: 100%;
          }
        }

        .subsection {
          .containerItemLayout {
            svg {
              visibility: collapse;
              min-width: 18px;
            }
          }
        }
      }
    }
  }

  .containerNavbar {
    width: 100%;
    display: flex;
    justify-content: center;

    .navbar {
      display: flex;
      max-height: 5vh;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: 0px;
      z-index: 3;
      gap: 20px;

      @include desktop-xl {
        gap: 20px;
      }
      /* Pantalla móvil */
      @media (max-width: 767px) {
        border-radius: 0px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
      }

      .digipoints {
        margin: 0px 1rem;
        @media (max-width: 767px) {
          margin-left: 0;
        }
        button {
          position: relative;
          padding: 0.8em;
          outline: none;
          border: 1px solid $primaryColorRed;
          background: $primaryColorRed;
          color: $primaryColorWhite;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 15px;
          overflow: hidden;
          transition: 0.2s;
          border-radius: 20px;
          cursor: pointer;
          font-weight: bold;

          @include desktop-xl {
            font-size: 11px;
          }

          @media (max-width: 767px) {
            margin: 0 auto;
            display: inherit;
            text-align: center;
          }
          .text-digi-mobi {
            display: none;
            @media (max-width: 767px) {
              display: block;
            }
          }
          .text-digi-desk {
            @media (max-width: 767px) {
              display: none;
            }
          }
        }

        button:hover {
          box-shadow: 0 0 5px $primaryColorRed, 0 0 5px $primaryColorRedTrans,
            0 0 10px $primaryColorRed;
          transition-delay: 0.2s;
        }

        button span {
          position: absolute;
        }

        button span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, $primaryColorRed);
        }

        button:hover span:nth-child(1) {
          left: 100%;
          transition: 0.7s;
        }

        button span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(
            90deg,
            transparent,
            $primaryColorRedTrans
          );
        }

        button:hover span:nth-child(3) {
          right: 100%;
          transition: 0.7s;
          transition-delay: 0.35s;
        }

        button span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $primaryColorRed);
        }

        button:hover span:nth-child(2) {
          top: 100%;
          transition: 0.7s;
          transition-delay: 0.17s;
        }

        button span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(
            360deg,
            transparent,
            $primaryColorRedTrans
          );
        }

        button:hover span:nth-child(4) {
          bottom: 100%;
          transition: 0.7s;
          transition-delay: 0.52s;
        }

        button:active {
          background: $primaryColorRed;
          background: linear-gradient(
            to top right,
            $primaryColorRed,
            $primaryColorRedTrans
          );
          color: $primaryColorWhite;
          box-shadow: 0 0 8px $primaryColorRed, 0 0 8px $primaryColorRedTrans,
            0 0 8px $primaryColorRedTrans;
          transition: 0.1s;
          border: 1px solid #ffffff;
        }

        button:active
          span:nth-child(1)
          span:nth-child(2)
          span:nth-child(2)
          span:nth-child(2) {
          transition: none;
          transition-delay: none;
        }
      }

      .notifications {
        display: flex;
        width: fit-content;
        padding: 0px 1rem;
        place-items: center;
        align-items: center;
        z-index: 5;
        @media (max-width: 767px) {
          display: none;
        }

        .textShadowHTW:hover {
          text-shadow: 0px 1px #9ba3a3;
        }
      }

      .userDrop {
        display: flex;
        align-items: center;
        height: 80%;
        border-radius: 100px;
        justify-content: flex-end;
        z-index: 5;
        /* Pantalla móvil */
        @media (max-width: 767px) {
          justify-content: end;
        }

        .user {
          .userPreMenu {
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $primaryColorWhite;
            border-radius: 50px;

            figure {
              border: 2px solid $primaryColorRed;
              border-radius: 50%;
              img {
                width: 35px;
                height: 35px;
                border-radius: 50%;

                @include desktop-xl {
                  width: 30px;
                  height: 30px;
                }
              }
            }

            svg {
              width: 35px;
              height: 35px;

              @include desktop-xl {
                width: 30px;
                height: 30px;
              }
            }
          }
          /* Pantalla móvil */
          @media (max-width: 767px) {
            display: none;
          }
        }

        .username {
          @media (max-width: 767px) {
            display: none;
          }
        }

        .buttonLayoutDropdown {
          cursor: pointer;
          color: $primaryColorRed !important;
        }

        .shoopingMarket {
          display: flex;
          justify-content: center;
          width: 30%;
          /* Pantalla móvil */
          @media (max-width: 767px) {
            display: none;
          }

          p {
            position: absolute;
            text-align: center;
            min-width: 20px !important;
            background-color: $primaryColorWhite;
            border: 1px solid $primaryColorRed;
            color: $primaryColorBlack;
            height: 20px;
            padding: 0px 5px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      figure {
        width: 18%;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .logoAdobeLayout {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 400px;
        @media (max-width: 767px) {
          width: auto;
        }
        .logo-header {
          width: 60px;
        }
        p {
          font-size: 22px;
          font-weight: bold;
          color: $primaryColorWhite;
          /* Pantalla móvil */
          @media (max-width: 767px) {
            display: none;
            width: 60px;
          }
        }
      }
    }
  }

  .barra {
    width: 10px;
    background-color: $primaryColorRedTrans;
    position: sticky;
    top: 0;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.pageDontAccess {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .dontAccess {
    font-weight: bold;
    font-size: 30px;
    color: $primaryColorRed;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  .page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    border: 1px solid #dae1e7;
    border-radius: 0.25rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    border: 1px solid #003f5c;
    border-radius: 40px;
    color: #003f5c;
  }
}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primaryColorRed;
  border-color: $primaryColorRed transparent $primaryColorRed transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .item must be first */
.item {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  a {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
}

.disabled-page {
  color: #808e9b;
}
.next {
  font-size: 4px;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 1000px;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  font-size: 4px;
}

.scrollMenu {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ebcaca;
  }
}

// .barSales {
//   &:nth-child(1) {
//     border-radius: 10px 0px 0px 10px;
//   }
//   &:nth-child(3) {
//     border-radius: 0px 10px 10px 0px;
//   }
// }
