@font-face {
    font-family: 'AdobeRegular';
    src: url('/fonts/Adobe/AdobeClean-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'AdobeBlack';
    src: url('/fonts/Adobe/AdobeClean-Black.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'AdobeBold';
    src: url('/fonts/Adobe/AdobeClean-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'AdobeLigth';
    src: url('/fonts/Adobe/AdobeClean-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'AdobeMedium';
    src: url('/fonts/Adobe/AdobeClean-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }