@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./pages/login.scss";
@import "./pages/dashboard.scss";
@import "./pages/digipoints.scss";

@import "./pages/market.scss";
@import "./components/cardMarket.scss";
@import "./components/trackingProduct.scss";
@import "./components/progress.scss";

@import "./components/layout.scss";

@import "./Base/mixins";
@import "./Base/variables";

@import "./animations/animations.scss";
@import "./animations/backgroundHTW.scss";

@import "@react-pdf-viewer/core/lib/styles/index.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEICbzagQlgiMMTcfwSOywUzOVy0IPMoomNyLqSxNaFeOc");

@import "primereact/resources/themes/lara-light-indigo/theme.css";     
    
//core
@import "primereact/resources/primereact.min.css";  

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1c2226;
  }

  hr {
    border-top-width: 1px;
    border-color: #bdbdbd;
  }

  .p-checkbox-box:checked {
    background-color: #FCA5A5 !important;
    background: #FCA5A5 !important;
    border-color: #cccccc !important;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #FCA5A5 !important;
    background: #FCA5A5 !important;
  }
  
  .p-checkbox-box:hover {
    border-color: #FCA5A5 !important;
    background-color: #EF4444 !important;
  }

  .custom-multiselect-token .p-checkbox-box {
    background-color: white;
    border-color: #cccccc;
  }

  .custom-multiselect-token .p-checkbox-box:hover {
    border-color: #FCA5A5 !important;
  }
  
  /* Estilo de hover para el checkbox seleccionado */
  .custom-multiselect-token.p-highlight:hover .p-checkbox-box {
    background-color: #EF4444 !important;
    border: none !important;
  }

  .custom-multiselect-token.p-highlight .p-checkbox-box {
    background-color: #FCA5A5 !important;
    border-color: #FCA5A5 !important;
  }
  
  /* Estilo personalizado para el icono de verificación dentro del checkbox */
  .custom-multiselect-token.p-checkbox-icon {
    color: #FFFFFF;
  }
  
  /* Estilo del icono de verificación del checkbox seleccionado */
  .custom-multiselect-token.p-highlight .p-checkbox-icon {
    color: #FFFFFF;
  }

  /* Estilo de las opciones seleccionadas */
  .custom-multiselect-option.p-highlight {
    background-color: #FEE2E2 !important;
    border: 1px solid #f58686 !important;
  }

  /* Estilo del input de búsqueda */
  .p-multiselect-filter:hover {
    background-color: #efefef !important;
    border-color: white !important;
    color: #333333 !important;
  }

  .p-multiselect-filter:focus {
    background-color: #efefef !important;
    border-color: white !important;
  }

  .cls-1 {
    fill: #000000;
  }

  .mantine-ckt4nk {
    color: #000000 !important;
  }

  td,
  th {
    text-align: center;
  }

  .btn-accent {
    color: #7e7e7e !important;
  }

  .mantine-y414p {
    button {
      color: $primaryColorRed;
    }
  }

  button {
    color: $primaryColorWhite !important;
  }

  @include desktop-xl {
    p,
    td,
    th,
    label,
    input {
      font-size: 0.55rem !important;
      line-height: normal !important;
    }

    .logoRight {
      margin-left: 0;
      margin-right: 2rem;
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .logosAdobe {
      margin-top: 2rem;
      @media (max-width: 767px) {
        display: flex;
      }
      img {
        width: 200px;
        @media (max-width: 767px) {
          width: 60%;
        }
      }

      button {
        min-height: 2rem !important;
        height: fit-content !important;
      }

      a,
      button {
        font-size: 0.65rem !important;
      }

      h1 {
        font-size: 1.2rem;
        @media (max-width: 767px) {
          font-size: 0.8rem !important;
        }
      }

      h2 {
        font-size: 1.5rem;
        @media (max-width: 767px) {
          font-size: 0.8rem !important;
        }
      }

      .swal2-title {
        font-size: 0.75rem !important;
      }

      .mantine-1kzbr1s {
        width: 90% !important;

        .tableHeader {
          word-break: keep-all;
          p {
            font-size: 0.6rem !important;
          }
        }
      }
    }
  }
  .modal {
    background-color: #00000087;
  }

  .report-style-class {
    height: 80vh;
  }

  .containerGlobal {
    position: relative;

    .bgAPC {
      bottom: 0;
      position: fixed;
      width: 100%;
      z-index: 1;
      /* Pantalla móvil */
      @media (max-width: 767px) {
        display: none;
      }

      figure {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  main {
    max-width: 100%;
    z-index: 2;
  }

  .menu-button-open {
    position: absolute;
    top: 16px;
    right: 27px;
    width: 46px;
    height: 46px;
    z-index: 9;
  }
  .menu-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .containerItemLayout {
    /* Pantalla móvil */
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    svg {
      width: 18px;
      /* Pantalla móvil */
      @media (max-width: 767px) {
        stroke: #fff;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .menumobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .logo-adobe {
    width: 100px;
    object-fit: contain;
    @media (max-width: 768px) {
      margin: 0 auto;
      padding-bottom: 10px;
    }
  }
  .cuadros-logo {
    width: 10px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .idioma-card {
    @media (max-width: 768px) {
      bottom: 20px;
    }

    @include desktop-l {
      padding: 0.5rem;
    }
  }
  .card-login {
    @media (max-width: 768px) {
      display: grid;
      text-align: center;
    }
  }
  .bannerDesk {
    @media (max-width: 769px) {
      display: none;
    }
  }
  .bannerMob {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .none {
    display: none !important;
  }
  .nonetran {
    visibility: hidden;
  }

  .pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
  }

  .mantine-129761m {
    position: relative;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 0;
    display: flex;
    justify-content: center;
  }

  .tycImg {
    width: 100%;
  }

  .imgLogoAdobe {
    width: fit-content;
  }

  #modalSign {
    width: 100% !important;
    @media (min-width: 768px) {
      width: 90%;
    }
  }
}

#logosAdobe2 {
  @media (max-width: 767px) {
    display: flex;
  }
  img {
    width: 80%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.iframeTandC {
  width: 80%;
  height: 82%;

  @include desktop-xl {
    height: 100%;
    input {
      font-size: 12px !important;
    }
  }
}
.mantine-121w2fi .mantine-Modal-close {
  visibility: inherit;
  color: rgb(134, 142, 150) !important;
}

.item-icon {
  display: flex;
  align-self: flex-start;
  text-align: left;
  place-items: center;
}
.checkitem {
  color: #047857;
}
.logoAdobe {
  display: flex;
  justify-content: center;
  figure {
    width: var(--wlogo);
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.tooltip {
  &::before {
    padding: 15px;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
  }
}

.tableHeader {
  word-break: keep-all;
}

.optionsTeams {
  width: -webkit-fill-available;
}

.btn {
  @apply rounded-full;
  text-transform: none;
  font-size: 0.75rem;
}
.newbtn {
  @apply rounded-full;
  text-transform: none;
  font-size: 0.75rem;
  min-height: 2.563rem;
  height: 2.563rem;

  @media (min-width: 1024px) {
    min-height: 1.563rem;
    height: 1.563rem;
  }
}
.sw2Custom {
  background-color: white;
  color: black;
}
.mantine-UnstyledButton-root {
  color: #000 !important;
}
.datepickerInput {
  input {
    @apply input input-ghost w-full bg-[#F4F4F4];
  }
}

.groupUserTeams {
  .checkbox:checked {
    background-image: none;
    background-color: #1473e6;
    border-color: #1473e6;
  }

  .checkbox {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    border-radius: 2px;
  }
}

.modal100 {
  .mantine-Modal-inner {
    padding: 0px !important;
    section {
      height: 100%;
      max-height: 100%;
    }
  }
}

.radio:checked {
  box-shadow: 0 0 0 0.3px hsl(var(--b1)) inset, 0 0 0 2px hsl(var(--b1)) inset;
}

.btn[disabled] {
  background-color: #c1c1c1;
}

.htmlContentComunications {
  .es-header-body {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

.uk {
  flex-shrink: 0;
}
.rw {
  width: 1.25rem;
}
.nu {
  height: 1.25rem;
}
.ls {
  display: flex;
}
.t {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.axk {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.sharePointIframe {
  iframe {
    width: 100% !important;
  }
}

.modalStatusProducts {
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .mantine-Stepper-stepIcon {
    color: #f1f3f5;
  }
}

.imgMini {
  iframe {
    .vp-center {
      display: none;
    }
  }
}
